// *************************************
//
//   Components
//   -> Documentation’s modules and UI
//
// *************************************

// -------------------------------------
//   Horizontal Menu
// -------------------------------------

.menu { text-align: right; }

// ----- Menu items ----- //

.menu-item {
  display: inline-block;
  font-size: .9em;
  margin-left: 1em;

  a {
    color: $white;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

// -------------------------------------
//   Search form
// -------------------------------------

.searcher {
  @include position(relative);

  [type='search'] {
    @include box-sizing(border-box);
    border: 0;
    color: $black;
    font-size: .8em;
    padding: 1em 7em 1em 1em;
    width: 100%;
  }

  button {
    @include position(absolute, 10% .35em nil nil);
    background: $ming;
    border: 0;
    font-size: .8em;
    height: 80%;
    padding: .25em 1em;
    text-transform: uppercase;
  }
}


// -------------------------------------
//   Logo list
// -------------------------------------

.logo-list {
  @extend %horizontal-list;
  > li { margin-right: 2.5em; }
}

// -------------------------------------
//   Box
// -------------------------------------

%box {
  border-radius: 5px;
  box-sizing: inherit;
  display: inline-block !important;
  float: none !important;
  padding: em(10px) em(0);
  text-align: center;
  vertical-align: top;
}

.box {
  @extend  %box;
}

// ----- Modifiers ----- //

// Sizes

.box--s {
  @include span-columns (2);
}

.box--m {
  @include span-columns (4);
}

.box--l {
  @include span-columns (6);
}

// Theme

.box--a {
  background: $light-grey;
}

.box--b {
  background: $dark-grey;
  color: $white !important;
}

// ----- States ----- //

// Is clickable

.box-highlight {
  &:hover {background-color: $ming; color: $white;}
}


// -------------------------------------
//   Navigation
// -------------------------------------

.guide-navigation {
  @include span-columns(2);
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(61, 61, 61, .39);
  margin-left: 20px;
  max-width: 180px;
  padding: 0;
  position: fixed;

  ul { padding: 0; }

  li {
    font-size: $captions-text;
    font-weight: 300;
  }
}

// ----- Content ----- //
.nav-title {
  border-bottom: 1px solid $mid-grey;
  color: $c-info;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 0 13px 15px;
  text-transform: uppercase;
  width: 100%;
}

.nav-options {
  border-bottom: 1px solid $light-grey;
  border-right: 3px solid $white;
  padding: 12px 15px;

  a { font-weight: 400; text-decoration: none; }

  &:hover {
    background-color: $light-grey;
    border-right: 3px solid $c-primary;
  }

  &:active {
    border-right: 3px solid $c-info;
  }
}
