// *************************************
//
//   Components
//   -> Documentation’s modules and UI
//
// *************************************

// -------------------------------------
//   Horizontal Menu
// -------------------------------------

.menu { text-align: right; }

// ----- Menu items ----- //

.menu-item {
  display: inline-block;
  font-size: .9em;
  margin-left: 1em;

  a {
    color: #fff;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

// -------------------------------------
//   Search form
// -------------------------------------

.searcher {
  @include position(relative);

  [type='search'] {
    @include box-sizing(border-box);
    border: 0;
    color: #000;
    font-size: .8em;
    padding: 1em 7em 1em 1em;
    width: 100%;
  }

  button {
    @include position(absolute, 10% .35em nil nil);
    background: $ming;
    border: 0;
    font-size: .8em;
    height: 80%;
    padding: .25em 1em;
    text-transform: uppercase;
  }
}


// -------------------------------------
//   Logo list
// -------------------------------------

.logo-list {
  @extend %horizontal-list;
  > li { margin-right: 2.5em; }
}

// -------------------------------------
//   Box
// -------------------------------------

%box {
  padding: em(10px) em(0px);
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
}

.box {
  @extend  %box;
}

// ----- Modifiers ----- //

// Sizes

.box--s {
    @include span-columns (2);
}

.box--m {
    @include span-columns (4);
}

.box--l {
    @include span-columns (6);
}

// Theme

.box--a {
  background: $light-grey;
}

.box--b {
  background: $dark-grey;
  color: $white !important;
}

// ----- States ----- //

// Is clickable

.box-highlight {
  &:hover {background-color: $ming; color: $white;}
}
