/*doc
---
title: Panels
name: panel
category: Components
---

Example usage of basic panels.

```haml_example
%aside.panel
  %header.panel-header
    Panel title
  %section.panel-content
    Panel content
```

Panel with header decorations. You can use the classes `arrow` and `border-bottom`.

```haml_example
%aside.panel
  %header.panel-header.arrow
    Panel title
  %section.panel-content
    Panel content

%aside.panel
  %header.panel-header.border-bottom
    Panel title
  %section.panel-content
    Panel content
```

Panel colors.

```haml_example
%aside.panel.red
  %header.panel-header
    Panel title
  %section.panel-content
    Panel content

%aside.panel.green
  %header.panel-header
    Panel title
  %section.panel-content
    Panel content

%aside.panel.pink
  %header.panel-header
    Panel title
  %section.panel-content
    Panel content

%aside.panel.orange
  %header.panel-header
    Panel title
  %section.panel-content
    Panel content
```

Panel with tabs.

```haml_example
%aside.panel
  %ul.tablist{role: 'tablist'}
    %li.tab.active{'aria-controls' => 'panel1', :role => 'tab', :tabindex => '0'} First tab
    %li.tab{'aria-controls' => 'panel2', :role => 'tab', :tabindex => '0'} Second tab
    %li.tab{'aria-controls' => 'panel3', :role => 'tab', :tabindex => '0'} Third tab
  %section.panel-content
    #panel1.tabpanel.active{role: 'tabpanel'}
      First panel
    #panel2.tabpanel{role: 'tabpanel'}
      Second panel
    #panel3.tabpanel{role: 'tabpanel'}
      Third panel
```
*/

.panel {
  @include panel(map-get($panel-colors, 'light-blue'), $black, $content-border-color: #ccc);

  @each $panel-type, $panel-color in map-remove($panel-colors, 'light-blue') {
    &.#{$panel-type} { @include panel($panel-color, $white, #f4f4f6); }
  }
}

.tablist {
  @include output-rhythm(5px, rhythm(.4));

  border-bottom: {
    color: $primary-color;
    style: solid;
    width: 4px; }
  display: table;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  &.narrow {
    @include display-flex;

    > .tab {
      display: inline-block;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

.tab {
  @include reset-focus;
  background-color: $azul-ceruleo;
  border-left: 1px solid $white;
  cursor: pointer;
  display: table-cell;
  font-weight: bold;
  margin: 0;
  padding: .4rem 0;
  text-align: center;

  &:first-child { border-left: 0; }
  &.active {
    @include arrow(rhythm(.4), $well-read, 50%);
    background-color: $well-read;
    color: $white;
    cursor: auto;
  }

  a { @include unstyled-link; }
}

.tabpanel {
  display: none;
  &.active { display: block; }
}

.tab-menu {
  bottom: 5px;
  display: inline-block;
  position: absolute;
  right: 0;

  > * {
    @include delimited-list(' |');
    margin: 0;
    padding: 0;
  }
}
