// Media queries screens and layouts
// -------------------------------------------------

$screen-desktop: 1200px !default;
$screen-mobile: 768px !default;
$layout-desktop: $screen-desktop static;


// Susy grid global defaults
// -------------------------------------------------

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);


// Typography
// -------------------------------------------------

$rhythm-unit: 'rem';
