// Media queries screens and layouts
// -------------------------------------------------

$screen-desktop: 1000px !default;
$screen-mobile: 768px !default;
$layout-desktop: $screen-desktop static !default;


// Susy grid global defaults
// -------------------------------------------------

$susy: (
  flow: ltr,
  math: fluid,
  output: isolation,
  gutter-position: split,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);


// Compass Vertical Rhythm Settings
// -------------------------------------------------

$round-to-nearest-half-line: true;
$rhythm-unit: 'rem';


// Colors
// -------------------------------------------------

$astronaut: #034665 !default;
$black: #000 !default;
$casper: #afc6d4 !default;
$hollywood-cerise: #c000a6 !default;
$trinidad: #e85900 !default;
$verdun-green: #426e00 !default;
$well-read: #ab3132 !default;
$white: #fff !default;

$aux-grey: #d5d5d5;
$azul-capota: #21689d;
$azul-ceruleo: #a2baca;

$highlight-color: #00bd00;
$primary-color: $azul-capota;


// Typography
// -------------------------------------------------

$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 18px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 10px;

$texts-font-family:    'Source Sans Pro' !default;
$headings-font-family: 'Roboto' !default;
$headings-font-weight: bold;


// Panels
// -------------------------------------------------

$panel-colors: (
  'red': $well-read,
  'green': $verdun-green,
  'pink': $hollywood-cerise,
  'orange': $trinidad,
  'light-blue': $casper
);
