/*doc
---
title: Summary news
name: Summary
category: core
---

Example usage of basic panels.

```haml_example
%article.summary.small
  .summary-left
    %img{:src => "http://www.fillmurray.com/g/400/150/"}
  .summary-right
    %header.summary-header
      %h4.category reprehenderit
      %h4.summary-title
        %a{href: '#'} Lorem ipsum dolor sit amet consectetur adipisicing
    %section.summary-content
      %p
        %a.topic{href: '#'} officia consectetur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

%article.summary.medium
  .summary-left
    %img{:src => "http://www.fillmurray.com/g/400/125/"}
  .summary-right
    %header.summary-header
      %h3.summary-title
        %a{href: '#'} Lorem ipsum dolor sit amet consectetur adipisicing
        %span.author john doe

    %section.summary-content
      %p
        %a.topic{href: '#'} officia consectetur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

%article.summary.new
  %header.summary-header
    %h3.summary-title
      %a{href: '#'} Lorem ipsum dolor sit amet consectetur adipisicing
  %section.summary-content
    .thumbnail
      %img{:src => "http://www.fillmurray.com/g/375/100/"}
    .summary-meta
      .author john doe
      .comments
        %i.fa.fa-comment 7
    %p
      %a.topic{href: '#'} officia consectetur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

%article.summary.default
  %header.summary-header
    %h2.summary-title
      %a{href: '#'} Lorem ipsum dolor sit amet consectetur adipisicing
    .summary-meta
      .author john doe
      .comments
        %i.fa.fa-comment 7
  %section.summary-content
    .thumbnail
      %img{:src => "http://www.fillmurray.com/g/800/250/"}
    %p
      %a.topic{href: '#'} officia consectetur.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

%article.summary.featured
  .summary-left
    %img{:src => "http://www.fillmurray.com/400/155/"}
  .summary-right
    %header.summary-header
      %h2.summary-title
        %a{href: '#'} Lorem ipsum dolor sit amet consectetur adipisicing
      .summary-meta
        .author john doe
        .comments
          %i.fa.fa-comment 7
    %section.summary-content
      %p
        %a.topic{href: '#'} officia consectetur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
```
*/


%summary {
  @extend .row;
  padding: .2em;
  
  .summary-title {
    color: #0a4967;
    font-weight: bold;
    margin-bottom: 0;

    a { color: #0a4967; }

  }

  .author {
    color: #666;
    display: inline-block;
    font-size: 11px !important;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .comments {
    color: #0a4967;
    display: inline-block;
    margin-left: 1em;
    font-size: 14px;
  }

  .summary-content {
    p {
      color: #323131;
      font-size: 13px;
      line-height: 1.2em;
      margin: 0;
    }
  }

  .category {
    color: #0a4967;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .topic {
    color: #0a4967;
    font-size: 12px;
    text-transform: uppercase;
  }

  .thumbnail {
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
    width: 100%;
  }
}

.summary {
  @extend %summary;
  h2 { font-size: 31px; }
  h3 { font-size: 18px; }
  h4 { font-size: 14px; }

  &.small {
    .summary-left { @extend .col-sm-3; }
    .summary-right { @extend .col-sm-9; }
  }

  &.medium {
    .summary-left { @extend .col-sm-5; }
    .summary-right { @extend .col-sm-7; }
  }

  &.new {
    .summary-header { @extend .col-sm-12; }
    .summary-content {
      .thumbnail { @extend .col-sm-5; }
      p { @extend .col-sm-7;}
    }
    .summary-meta { @extend .col-sm-7; }
  }

  &.default {
    .summary-header { @extend .col-sm-12; }
    .summary-content { @extend .col-sm-12; }
  }

  &.featured {
    .summary-left { @extend .col-sm-5; }
    .summary-right { @extend .col-sm-7; }
    .summary-meta { margin: .25em 0; }
    background-color: #F4F3F5;
  }
}
