%li.menu-item
  = link_to item[:url], { title: item[:title], class: ('menu-active' if item[:submenu]) } do
    = item[:name]
  - if item[:submenu]
    = fa_icon 'angle-double-down', class: 'poar', data: { accordion: '' }

  - if item[:submenu]
    %ul.menu.menu-sub{ class: ('is-active' if item[:active]) }
      = render partial: 'psique/elements/navigation/item', collection: item[:submenu]
