%li.menu-item
  - if item[:submenu]
    = link_to  item[:name], item[:url], { title: item[:title], class: 'has-icon' }
    = fa_icon 'caret-down', class: 'poar', data: { accordion: '' }
  - else
    = link_to item[:name], item[:url], { title: item[:title] }

  - if item[:submenu]
    %ul.menu.menu-sub{ class: ('is-active' if item[:active]) }
      = render partial: 'psique/elements/navigation/item', collection: item[:submenu]
