%li.menu-item{ class: ('has-dropdown' if item[:submenu]) }
  = link_to item[:url] do
    = item[:name]
    = fa_icon 'angle-double-down', class: 'icon' if item[:submenu]

  - if item[:submenu]
    %ul.dropdown= render partial: 'psique/elements/navigation/item', collection: item[:submenu]
