.menu-lvl2
  .menu-lvl2--caret
    = link_to options[:menu], ''
  .menu-lvl2--current
    .line-divider
      = fa_icon 'caret-down icon-menu-lvl2', id: 'caret-trigger', class: 'icon'
    %span
      = options[:current]
  .menu-options-lvl2
    %ul
      - options[:options].each do |option|
        %li
          = link_to option [:name], option[:url], title: option[:name]
