// *************************************
//
//   Documentation
//   -> Styles to print the guide
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

@import 'documentation/variables';

// -------------------------------------
//   Vendor
// -------------------------------------

@import 'psique';

// -------------------------------------
//   Components
// -------------------------------------

@import 'documentation/components';

// -------------------------------------
//   Structures
// -------------------------------------

@import 'documentation/structures';

// -------------------------------------
//   Inbox
// -------------------------------------

// Panel Boxes

%panel-title {
  background: $white;
  border: 1px solid $mid-grey;
  border-radius: 7px 7px 0 0;
  color: $aux-grey;
  font-weight: 300;
  padding: 9px 14px;
}

.element-panel {
  width: 100%;

  .panel-title {
    @extend %panel-title;
  }

  .panel-title-code {
    @extend %panel-title;
    border-radius: 0;
  }

  .preview-content {
    border-left: 1px solid $mid-grey;
    border-right: 1px solid $mid-grey;
    padding: 15px;
  }

  pre {
    border-radius: 0 0 7px 7px;
    margin: 0;
   }

  img { display: block; margin: 0 auto; }
}

// Titles

.title {
  border-bottom: 1px solid $mid-grey;
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 1.5em;
  margin-top: em(13px);
  padding-bottom: .3em;
}

.title-components {
  color: $steelblue;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
}

.main {
  margin-bottom: 2em;
}

.paragraph {
  font-size: .9em;
}


// Color pages Styles

.color-box {
  @include span-columns (2);

  .color-box-preview {
    border-radius: 5px;
    font-size: .9em;
    padding: 30px;
    text-align: center;
  }

  .color-variable {
    background: $light-grey;
    border: 1px solid $mid-grey;
    border-radius: 4px;
    font-size: .7em;
    padding: 4px;
    text-align: center;
  }
}

// Font page Styles

.big-font-show { font-size: 4em; }

.featured-text { font-size: $featured-text; font-weight: 300; }
.captions-text { font-size: $captions-text; }
.disclaimer-text { font-size: $disclaimer-text; }


// Fonticon page styles

.icon-card {
  @include span-columns (2);
  background: $light-grey;
  border-radius: 4px;
  &:hover { background: $ming; color: $white;}

  .icon-block {
    border-radius: 5px;
    font-size: 3em;
    margin-top: 30px;
    text-align: center;
  }

  .icon-variable {
    background: $light-grey;
    border: 1px solid $mid-grey;
    border-radius: 4px;
    font-size: .7em;
    padding: 4px;
    text-align: center;
  }

  .icon-name { font-size: em(13px); text-align: center; }
}

pre {
  background-color: $dark-grey;
  border-radius: 5px;
  color: $white;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 1em 1em 2.3em;
}

a {
  color: $c-secondary;
}

ul > li { line-height: 1.5em; }

.element-divider {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 20px;
}

.unindented {
  padding: 0;
}

.unstyled {
  list-style: none;
}


// Palette Boxes

.palette-variable {
  border: 1px solid $mid-grey;
  border-radius: 4px;
  color: $dark-grey;
  font-size: $variable-names;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  width: 65%;
}

.palette-hex {
  border-radius: 4px;
  font-size: $variable-names;
  font-weight: bold;
  padding: em(36px);
}
