// *************************************
//
//   Psique
//   -> Styleguide for Emergia's apps
//
// *************************************

// -------------------------------------
//   Vendor
// -------------------------------------

@import 'normalize-rails';
@import 'font-awesome';
@import 'bourbon';
@import 'neat';

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/helpers';
@import 'foundation/config';
@import 'foundation/base';

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/grid';
@import 'components/form';
@import 'components/panel';
@import 'components/button';

// -------------------------------------
//   Structures
// -------------------------------------

@import 'structures/mobile';
@import 'structures/menu';
@import 'structures/offcanvas';

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

@import 'foundation/tools';

// -------------------------------------
//   Inbox
// -------------------------------------


.dropdown {
  background-color: #4e4e4e;
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}
