// *************************************
//
//   Psique
//   -> Styleguide for Emergia's apps
//
// *************************************

// -------------------------------------
//   Vendor
// -------------------------------------

@import 'normalize-rails';
@import 'font-awesome';
@import 'bourbon';
@import 'neat';

// -------------------------------------
//   Foundation
// -------------------------------------

@import 'foundation/helpers';
@import 'foundation/config';
@import 'foundation/base';

// -------------------------------------
//   Components
// -------------------------------------

@import 'components/grid';
@import 'components/form';
@import 'components/panel';
@import 'components/button';

// -------------------------------------
//   Structures
// -------------------------------------

@import 'structures/menu';
@import 'structures/mobile';

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

// -------------------------------------
//   Inbox
// -------------------------------------

.has-dropdown.is-active {
  .icon { @include transform(rotate(-90deg)) }
  .dropdown { display: block; }
}

.dropdown {
  background-color: #4e4e4e;
  display: none;
}

.dropdown {
  li {
    @include appearance(none);
    background-color: #4e4e4e;
    border-bottom: 1px solid #666;
    color: #fff;
    display: block;
    padding: 1em;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}
