%ul#lat_nav.guide-navigation.unstyled
  %li
    %p.nav-title Design
    %ul.unstyled
      %li.nav-options Palette Colors
      %li.nav-options UI Colors
      %li.nav-options Typography
      %li.nav-options Icons
