<!DOCTYPE html>
<html>
<head>
  <title>Psique</title>
  <%= stylesheet_link_tag    "psique/application", media: "all" %>
  <%= javascript_include_tag "psique/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
