.grid{:style => "background-color: #ccc;"}
  .row
    .col-sm-12.col-lg-9{:style => "background-color: red; min-height: 200px;"}
    .col-sm-12.col-lg-3{:style => "background-color: brown; min-height: 200px;"}
  .row
    .col-sm-12.col-lg-9{:style => "background-color: lime; min-height: 200px;"}
      .row
        .col-sm-12.col-lg-9{:style => "background-color: pink; min-height: 200px;"}
          .row
            .col-sm-12{:style => "background-color: blue; min-height: 200px;"}
              .row
                .col-sm-12{:style => "background-color: orange; min-height: 200px;"}
        .col-sm-12.col-lg-3{:style => "background-color: red; min-height: 200px;"}
          .row
            .col-sm-12.col-lg-6{:style => "background-color: yellow; min-height: 200px;"}
            .col-sm-12.col-lg-6{:style => "background-color: yellow; min-height: 200px;"}
    .col-sm-12.col-lg-3{:style => "background-color: green; min-height: 200px;"}
