.box-header {
  @include box-header($c-secondary);
  margin: 0 -1em 1em -1em;
  position: relative;
  width: initial;
}

.arrow-header {
  @include arrow-header($c-secondary, $c-border, black);

  span {
    font-style: normal;
  }
}
