.menu-lvl2 {
  background: $casper;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  position: fixed;
  left: 0;
  width: 100%;
  height: 43px;
  overflow: hidden;
}

.menu-options-lvl2 {
  position: relative;
  top: 9px;
  ul {
      padding-left: 0.7em;
      padding-top: 0.7em;
      list-style-type: none;
      border-top: 1px solid white;
      margin: 0;
    li {
    	margin-bottom: 0.5em;
    	margin-top: 0.5em;
    	width: 49%;
    	display: inline-block;
    }
  }
}
.menu-lvl2--caret{
  display:inline-block;
  vertical-align:top;
  width:24%;
  position:relative;
  a{
    padding-left:.8em;
    font-weight:bold;
    position:absolute;
    top:-2px;
  }
}
.menu-lvl2--current{
  display:inline-block;
  vertical-align:top;
  width:71%;  
  background: $matisse;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
  .line-divider{
    width:1px;
    background:white;
    position: absolute;
    z-index: 99999999;
    left: -20px;
    height: 43px;
    i{margin: 14px 10px; color:white;}
  }
    &::before{
    content: '';
    height: 0;
    width: 0;
    z-index: 9999999;
    position: absolute;
    border-bottom: 21px solid transparent;
    border-left: 15px solid #a2baca;
    border-top: 21px solid transparent;
  }
    span{
      color:white;
      font-weight: bold;
      font-family: 'Roboto';
      position:relative;
      top:23%;
      left:15%;
    }
}
.menu--display{
  height:auto !important;
}
