$menu_lvl2_height: 43px;

.menu-lvl2 {
  @include box-header($c-info);
  z-index: 1;
}

.menu-options-lvl2 {
  position: relative;
  top: 24px;
  ul {
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0;
    padding-left: 0.7em;
    padding-top: 0.7em;
    li {
      display: inline-block;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
      width: 49%;
    }
  }
}

.menu-lvl2--caret {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 24%;
  a {
    font-weight: bold;
    height: $menu_lvl2_height;
    padding: 12px 10px;
    position: absolute;
  }
}

.menu-lvl2--current {
  @include arrow-header($c-info, $c-secondary, $c-info);
}

.menu--display {
  height: auto !important;
}
