$menu_lvl2_height: 43px;

.menu-lvl2 {
  background: $ceruleo-blue;
  height: $menu_lvl2_height;
  left: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 99999999;
}

.menu-options-lvl2 {
  position: relative;
  top: 24px;
  ul {
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0;
    padding-left: 0.7em;
    padding-top: 0.7em;
    li {
      display: inline-block;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
      width: 49%;
    }
  }
}

.menu-lvl2--caret {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 24%;
  a {
    font-weight: bold;
    height: $menu_lvl2_height;
    padding: 12px 10px;
    position: absolute;
  }
}

.menu-lvl2--current {
  background: $capota-blue;
  display: inline-block;
  height: $menu_lvl2_height;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
  width: 69%;
  .line-divider {
    background: white;
    height: 100%;
    i {
      color:white;
      height: 100%;
      padding: 15px 17px;
    }
    left: -35px;
    position: absolute;
    width: 1px;
    z-index: 99999999;
  }
  &::before {
    border-bottom: 21px solid transparent;
    border-left: 15px solid $ceruleo-blue;
    border-top: 21px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    z-index: 9999999;
  }
  span {
    color: $ceruleo-blue;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: bold;
    left: 15%;
    position: relative;
    top: 30%;

    a, a:visited {
      color: white;
    }
  }
}

.menu--display {
  height: auto !important;
}
