// *************************************
//
//   Search
//   -> Styles for a search box
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.search {
  @include outer-container;
  background-color: $black;
  height: 50px;
  overflow: hidden;
  padding: .75em .85em;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.search--a {
  border: $search-border;
  border-radius: 0.5rem;
  background-color: transparent;
  height: auto;
  padding: 0;

  .search-button {
    background: transparent;
    border: none;
    color: $search-button-color;
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Search input ----- //

.search-input {
  @include span-columns(10);
  border-radius: 0;
  border: 0;
  box-shadow: none;
  height: 30px;
  z-index: 1;
}

// ----- Search button ----- //

.search-button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 22px;
  outline: 0;
  padding-right: 0.8em;
  text-align: left;
}
