= render 'psique/documentation/shared/guide_nav'

= render 'psique/documentation/design_layouts/typography'
= render 'psique/documentation/design_layouts/icons'
= render 'psique/documentation/design_layouts/colors'
