.main.grid
  %h2.title Typography
  %p.main.paragraph Change this text to properly addapt with context

.main.grid 
  .title-components.main Main font
  .big-font-show Roboto Family

.main.grid
  .title-components.main Headings
  %h1.element-divider 
    The quick brown fox jumps over the lazy dog
    %span.code-coment.right-pull  h1
  %h2.element-divider  
    The quick brown fox jumps over the lazy dog
    %span.code-coment.right-pull  h2
  %h3.element-divider  
    The quick brown fox jumps over the lazy dog
    %span.code-coment.right-pull  h3
  %h4.element-divider  
    The quick brown fox jumps over the lazy dog
    %span.code-coment.right-pull  h4
  %h5.element-divider  
    The quick brown fox jumps over the lazy dog
    %span.code-coment.right-pull  h5
  %h6.element-divider  
    The quick brown fox jumps over the lazy dog
    %span.code-coment.right-pull  h6

.main.grid
  .title-components.main Paragraphs
  %p.element-divider.featured-text Featured Text: This text is used to to highlight text over the rest of the content on per example posts content. 
  %p.element-divider Body Copy: The regular size of all the text in the body.
  %p.element-divider.captions-text Caption Text: Lorem fistrum fistro por la gloria de mi madre ese hombree no te digo trigo por no llamarte Rodrigor a gramenawer ahorarr papaar papaar caballo blanco caballo negroorl. Llevame al sircoo te voy a borrar el cerito sexuarl ese que llega papaar papaar a gramenawer diodeno ese hombree no puedor.
  %p.element-divider.disclaimer-text Disclaimer Text: We only use this text for copyright sentences.
