.main.grid
  %h2.title Icon Font
  %p.main.paragraph Change this text to properly addapt with context

.main.grid
  .title-components.main Navigation Icons

  - icon_blocks_nav = %w(fa-bars fa-home fa-angle-double-right fa-angle-double-left fa-chevron-right fa-chevron-left fa-caret-down fa-caret-up )

  - icon_blocks_nav.each do |class_name|
    .icon-card.main
      .icon-block
        %i.fa{ class: class_name }
      %p.icon-name= class_name

.main.grid
  .title-components.main Action Icons

  - icon_blocks_actions = %w(fa-reply fa-search fa-star fa-trash-o fa-play fa-pause fa-stop fa-thumbs-o-up fa-eye fa-picture-o )

  - icon_blocks_actions.each do |class_name|
    .icon-card.main
      .icon-block
        %i.fa{ class: class_name }
      %p.icon-name= class_name

.main.grid
  .title-components.main Static Icons

  - icon_blocks_actions = %w(fa-desktop fa-dashcube fa-envelope fa-comment fa-comments-o fa-thumb-tack fa-tags fa-user fa-exclamation-triangle fa-info-circle fa-inbox fa-pencil fa-pencil-square-o fa-square-o)

  - icon_blocks_actions.each do |class_name|
    .icon-card.main
      .icon-block
        %i.fa{ class: class_name }
      %p.icon-name= class_name

.main.grid
  .title-components.main Social Icons

  - icon_blocks_actions = %w(fa-envelope fa-facebook-square fa-twitter-square fa-google-plus-square fa-rss-square fa-envelope-square )

  - icon_blocks_actions.each do |class_name|
    .icon-card.main
      .icon-block
        %i.fa{ class: class_name }
      %p.icon-name= class_name
