// *************************************
//
//   Button
//   -> Clickable control
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

%btn {
  @include appearance(none);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: .5em 1.5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

// ----- Button menu toggle ----- //

.btn-menu {
  background: none;
  border: 0;

  &:focus { outline: 0; }

  .icon {
    color: $btn-menu-color;
    font-size: em(28px);
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Hierarchy ----- //

// Primary

.btn--a {
  @extend %btn;
  @include linear-gradient(lighten($capota, 20), $capota);
  border: 1px solid $capota;
  &:hover{
    @include linear-gradient(lighten($capota,10), darken($capota, 8));
  }

}

.btn--b {
  @extend %btn;
  @include linear-gradient(lighten($vibrant-orange, 20), $vibrant-orange);
  border: 1px solid $dark-orange;
  &:hover{
    @include linear-gradient(lighten($vibrant-orange,10), darken($vibrant-orange, 8));
  }
}

.btn--c {
  @extend %btn;
  background-color: $light-grey;
  border: 1px solid $mid-grey;
  color: $mid-grey;
  cursor: not-allowed;
}

// Secondary

.btn--icon{
  @extend %btn;
  .fa::before{
    padding-right:4px;
    vertical-align: text-top;
  }
  span{
    padding-left:3px;
  }
}

// Social

.btn--facebook{
  @include linear-gradient(lighten($facebook, 8), $facebook);
  .fa::before{
    padding: 5px 12px 5px 0px;
    border-right: 1px solid $navyblue;
    position: relative;
    left: -12px;
    top: 1px;
    vertical-align: text-top;
  }
  span{
    padding-left:3px;
  }
  &:hover{
    @include linear-gradient(lighten($facebook,10), darken($facebook, 8));
  }
}
.btn--gplus{
  @include linear-gradient(lighten($gplus, 8), $gplus);
  border: 1px solid $grana;
  .fa::before{
    padding: 5px 12px 5px 0px;
    border-right: 1px solid $grana;
    position: relative;
    left: -12px;
    top: 1px;
    vertical-align: text-top;
  }
  span{
    padding-left:3px;
  }
  &:hover{
    @include linear-gradient(lighten($gplus,10), darken($gplus, 8));
  }
}
.btn--twitter{
  @include linear-gradient(lighten($twitter, 8), $twitter);
  border: 1px solid $capota;
  .fa::before{
    padding: 5px 12px 5px 0px;
    border-right: 1px solid $navyblue;
    position: relative;
    left: -12px;
    top: 1px;
    vertical-align: text-top;
  }
  span{
    padding-left:3px;
  }
  &:hover{
    @include linear-gradient(lighten($twitter,10), darken($twitter, 8));
  }
}

// ----- Sizes ----- //

// Small

.btn--xs {
  @extend %btn;
  font-size: .7em;
  padding: .30em 1em;
}

// Small

.btn--s {
  @extend %btn;
  font-size: .9em;
  padding: .45em 1em;
}

// Large

.btn--l {
  @extend %btn;
  font-size: 1.1em;
  padding: .65em 2em;
}
