// *************************************
//
//   Button
//   -> Clickable control
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

%btn {
  @include appearance(none);
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  height: $btn-base-size;
  line-height: $btn-base-size;
  padding: 0 1.5em;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

.btn {
  @extend %btn;
}

.btn--split {
  padding-right: 4em;
  position: relative;
}

.btn--split-icon {
  border-left: $btn--split-border;
  display: block;
  height: 100%;
  line-height: $btn-base-size;
  padding: 0 1em;
  position: absolute;
  right: 0;
  top: 0;
}

// ----- Button menu toggle ----- //

.btn-menu {
  background: none;
  border: 0;
  padding: 0;

  &:focus { outline: 0; }

  .icon {
    color: $btn-menu-color;
    font-size: em(28px);
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Hierarchy ----- //

// Button Shapes

.btn--a {
  @extend %btn;

  @include linear-gradient(lighten($c-primary, 20), $c-primary);
  border-radius: 5px;

  &:hover {
    @include linear-gradient(lighten($c-primary, 10), darken($c-primary, 8));
  }
}

.btn--b {
  @extend %btn;

  @include linear-gradient(lighten($c-secondary, 20), $c-secondary);
  border-radius: 5px;

  &:hover {
    @include linear-gradient(lighten($c-secondary, 10), darken($c-secondary, 8));
  }
}

// Button Styles

.btn--disabled {
  @extend %btn;
  background-color: $c-warning;
  border: 1px solid $c-border;
  color: $c-border;
  cursor: not-allowed;
  border-radius: 5px;
}

.btn--i {
  @extend %btn;
  .fa::before{
    padding-right:4px;
    vertical-align: text-top;
  }
  span{
    padding-left:3px;
  }
}


// ----- Sizes ----- //

// Small

.btn--xs {
  @extend %btn;
  font-size: .7em;
  padding: .45em 1.7em;
}

// Small

.btn--s {
  @extend %btn;
  font-size: .9em;
  padding: .45em 1em;
}

// Large

.btn--l {
  @extend %btn;
  font-size: 1.1em;
  padding: .65em 2em;
}
