// *************************************
//
//   Button
//   -> Clickable control
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

%btn {
  @include appearance(none);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: .5em 1.5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

// ----- Button menu toggle ----- //

.btn-menu {
  background: none;
  border: 0;

  &:focus { outline: 0; }

  .icon {
    color: $btn-menu-color;
    font-size: em(28px);
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Hierarchy ----- //

// Button Shapes

.btn--a {
  @extend %btn;
  @include linear-gradient(lighten($capota-blue, 20), $capota-blue);
  border-radius: 5px;
  &:hover{
    @include linear-gradient(lighten($capota-blue,10), darken($capota-blue, 8));
  }
}

.btn--b {
  @extend %btn;
  &:hover{
    @include linear-gradient(lighten($capota-blue,10), darken($capota-blue, 8));
  }
}

// Button Styles

.btn--disabled {
  @extend %btn;
  background-color: $light-grey;
  border: 1px solid $mid-grey;
  color: $mid-grey;
  cursor: not-allowed;
  border-radius: 5px;
}

.btn--i {
  @extend %btn;
  .fa::before{
    padding-right:4px;
    vertical-align: text-top;
  }
  span{
    padding-left:3px;
  }
}

// Button Colors

.btn--blue {
  @include linear-gradient(lighten($capota-blue, 20), $capota-blue);
  border: 1px solid $capota-blue;
  &:hover{
    @include linear-gradient(lighten($capota-blue, 10), darken($capota-blue, 8));

  }
}
.btn--orange{
  @include linear-gradient(lighten($vibrant-orange, 20), $vibrant-orange);
  border: 1px solid $dark-orange;
  &:hover{
    @include linear-gradient(lighten($vibrant-orange,10), darken($vibrant-orange, 8));
  }
}
.btn--grey{
  background: $mid-grey;
  color: $capota-blue;
  &:hover{
    @include background(darken($mid-grey,10));
  }
}

// Social

.btn--facebook { @include btnSocial($facebook-blue, $navy-blue); }
.btn--gplus { @include btnSocial($gplus-red, $granate); }
.btn--twitter { @include btnSocial($twitter-blue, $capota-blue); }

// ----- Sizes ----- //

// Small

.btn--xs {
  @extend %btn;
  font-size: .7em;
  padding: .45em 1.7em;
}

// Small

.btn--s {
  @extend %btn;
  font-size: .9em;
  padding: .45em 1em;
}

// Large

.btn--l {
  @extend %btn;
  font-size: 1.1em;
  padding: .65em 2em;
}
