// *************************************
//
//   Dropdown
//   -> Dropdown element
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.dropdown {
  @include columns(2);
  background-color: $dropdown-bg-color;
  border-top: $dropdown-border-top;
  display: none;
  margin: 0;
  padding: 1rem 1rem .5rem;
  position: absolute;
  width: 100%;
}

.dropdown-item {
  color: $dropdown-item-color;
  line-height: 2rem;
  text-decoration: none;
}

// -------------------------------------
//   States
// -------------------------------------

// ----- Is open ----- //

.dropdown.is-open {
  display: block;
}
