// *************************************
//
//   Grid
//   -> Responsive and mobile first
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.grid {
  @include outer-container;
  height: 100%;
  min-width: $max-width;
  padding: 0 1em;
}

// -------------------------------------
//   Columns
// -------------------------------------

@for $i from 1 through 12 {
  .col-#{$i} { @include span-columns($i); }
}
