// *************************************
//
//   List item
//   -> Styles for a list item
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.list-item {
  border-bottom: $list-item-border-bottom;
  margin: 1rem 0 1.5rem;
  padding-bottom: 1rem;
  a { text-decoration: none; }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.list-item-title {
  h2 {
    color: $list-item-title-color;
    display: inline-block;
    font-size: $list-item-title-size;
    line-height: 1.2rem;
    margin: 0;
  }

  a {
    color: $list-item-title-color;
    font-weight: 600;
    margin-right: 1rem;
  }
}

.list-item-meta {
  @extend %horizontal-list;
  color: $list-item-meta-color;
  display: inline-block;
  list-style-type: none;

  > li { margin-right: .5rem; }
  .fa { color: $list-item-meta-icon-color; }
}

.list-item-detail > * {
  color: $list-item-detail-color;
}


// -------------------------------------
//   States
// -------------------------------------

.list-item.is-sticky {

  .list-item-title::before {
    color: $list-item-sticky-icon-color;
    content: '\f08d';
    display: inline-block;
    font-family: 'FontAwesome';
    margin-right: .5rem;
  }
}
