%media {
  @extend .row;

  .media-title {
    color: $primary-color;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1em;
    a { color: $primary-color; }
  }

  .author {
    color: #666;
    display: inline-block;
    font-size: 11px !important;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .media-content {
    p {
      color: #323131;
      font-size: 14px;
      line-height: 1.2em;
      margin: 0;
      margin-top: .5em;
    }
  }

  .thumbnail {
    margin-bottom: .5em;
  }

  img {
    max-width: 100%;
    width: 100%;
  }
}

.media {
  @extend %media;

  .media-left { @extend .col-sm-2; }
  .media-right { @extend .col-sm-10; }
}

.links-clean {
  @extend .row;
  ul {
    margin: 0;
    padding: 0;
    &.left { @extend .col-sm-6; }
    &.right { @extend .col-sm-6; }

    a {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

.links-decorated {
  @extend .links-clean;

  li {
    position: relative;
    padding-left: 15px;
    &:after {
      border: 1px solid #9a2c2d;
      content: '';
      display: block;
      height: 8px;
      left: 0;
      position: absolute;
      top: 30%;
      width: 8px;
    }
  }
}
