.panel {
  @include panel(map-get($panel-colors, 'light-blue'), $black, $content-border-color: #ccc);

  @each $panel-type, $panel-color in map-remove($panel-colors, 'light-blue') {
    &.#{$panel-type} { @include panel($panel-color, $white, #f4f4f6); }
  }
}

.tablist {
  border-bottom: {
    color: $primary-color;
    style: solid;
    width: 4px; }
  display: table;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  &.narrow {
    @include display-flex;

    > .tab {
      display: inline-block;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

.tab {
  @include reset-focus;
  background-color: $azul-ceruleo;
  border-left: 1px solid $white;
  cursor: pointer;
  display: table-cell;
  font-weight: bold;
  margin: 0;
  padding: .4rem 0;
  text-align: center;

  &:first-child { border-left: 0; }
  &.active {
    @include arrow(rhythm(.4), $well-read, 50%);
    background-color: $well-read;
    color: $white;
    cursor: auto;
  }

  a { @include unstyled-link; }
}

.tabpanel {
  display: none;
  &.active { display: block; }
}

.tab-menu {
  bottom: 5px;
  display: inline-block;
  position: absolute;
  right: 0;

  > * {
    @include delimited-list(' |');
    margin: 0;
    padding: 0;
  }
}
