// *************************************
//
//   Panel
//   ->
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.panel {
  background-color: $light-grey;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Header ----- //

.panel-header {
  background-color: $panel-header-background;
  color: complement($c-primary);
  font-weight: bold;
  padding: .5rem 1rem;
  position: relative;

  &:before {
    @include triangle(20px, $c-info, down);
    bottom: -8px;
    content: '';
    left: 100px;
    pointer-events: none;
    position: absolute;
    visibility: visible;
  }

  > * {
    margin: 0;
    padding: 0;
  }
}

// ----- Content ----- //

.panel-content {
  padding: 1.5rem 1rem;
}
