%summary {
  @extend .row;
  padding: .2em;

  .summary-title {
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 0;

    a { color: $primary-color; }
  }

  .author {
    color: #666;
    display: inline-block;
    font-size: 11px !important;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .comments {
    color: $primary-color;
    display: inline-block;
    margin-left: 1em;
    font-size: 14px;
  }

  .summary-content {
    p {
      color: #323131;
      font-size: 13px;
      line-height: 1.2em;
      margin: 0;
    }
  }

  .category {
    color: $primary-color;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .topic {
    color: $primary-color;
    font-size: 12px;
    text-transform: uppercase;
  }

  .thumbnail {
    margin-bottom: .5em;
  }

  img {
    max-width: 100%;
    width: 100%;
  }
}

.summary {
  @extend %summary;

  &.small {
    .summary-left { @extend .col-sm-3; }
    .summary-right { @extend .col-sm-9; }
  }

  &.medium {
    .summary-left { @extend .col-sm-5; }
    .summary-right { @extend .col-sm-7; }
  }

  &.new {
    .summary-header { @extend .col-sm-12; }
    .summary-content {
      .thumbnail { @extend .col-sm-5; }
      p { @extend .col-sm-7;}
    }
    .summary-meta { @extend .col-sm-7; }
  }

  &.default {
    .summary-header { @extend .col-sm-12; }
    .summary-content { @extend .col-sm-12; }
  }

  &.featured {
    .summary-left { @extend .col-sm-5; }
    .summary-right { @extend .col-sm-7; }
    .summary-meta { margin: .25em 0; }
    background-color: #F4F3F5;
  }
}
