= form_tag(options[:url], class: 'search', method: :get) do
  = search_field_tag 'q', nil, class: 'form-input search-input', placeholder: 'Buscar...'
  = button_tag '', class: 'search-button poar' do
    = fa_icon 'search', class: 'icon'
