-# - menu = { id: 'menu1', target: 'main', searcher: true,
-#            items: [{ name: 'Blogs', url: '#', submenu: [{ name: 'Principal', url: '#' }] }, { name: 'Foros', url: root_path }] }
-#
-# %header.mobile-header
-#   .container
-#     .col-3= ui_element('navigation/mobile', options: menu)
-#     .col-6= image_tag 'logo-mobile.jpg', class: 'logo'
-#
-# #main
-#   = image_tag 'mockup.png', class: 'logo'

.offcanvas-page
  %button{ class: 'uk-button', data: { offcanvas: '#my-id' } }
    Open

  %div{ id: 'my-id', class: 'offcanvas' }
    .offcanvas-menu
      Patata
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
